.add-to-cart {
  width: 260px;
  padding: 38px 30px 48px 30px;
}

@media (min-width: 768px) {
  .add-to-cart {
    display: flex;
    flex-wrap: wrap;
    width: 569px;
    height: 242px;
    margin: auto;
    padding: 50px 0 45px 0;
    border: 1px solid #c7c7c7;
  }
}

.add-to-cart__title {
  display: block;
  padding: 0 55px 37px 55px;
  font-size: 25px;
  font-family: $fontbold;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.add-to-cart__description {
  padding-bottom: 37px;
  text-align: center;
}

.add-to-cart__size {
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  text-align: center;
  border: 2px solid $grey;
}

.add-to-cart__btn {
  margin-top: 30px;
  font-size: 17px;
  line-height: 16px;
  color: $white;
  border-color: $seacolor;
  background-color: $seacolor;
}