.advantages {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 36px 30px 56px 30px;
}

@media (min-width: 768px) {
  .advantages {
    width: 676px;
    padding: 61px 46px 30px 46px; 
  }
}

@media (min-width: 1150px) {
  .advantages {
    width: 700px;
    padding: 65px 280px 37px 270px; 
  }
}

.advantages ul {
  margin: 0;
  padding: 0;
  
}

.advantages li {
  list-style-type: none;
}

.advantages h2 {
  margin: 0;
}

.advantages p {
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-size: 25px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .advantages__title {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    height: 510px;
  }
}

@media (min-width: 1150px) {
  .advantages__list {
    width: 1050px;
    height: 510px;
  }
}
.advantages__item {
  height: 91px;
  font-size: 17px;
  line-height: 20px;
  font-family: $fontbold;
  color: $black;

  &--eco {
    padding-top: 32px;
  }
  
  &--style {
    padding-top: 33px;
  }
  
  &--like {
    padding-top: 36px;
  }
  
  &--handmade {
   padding-top: 30px;  
  }
  
  &--manufacturer {
    padding-top: 33px;  
  }
  
  &--packing {
      padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .advantages__item {
    width: 330px;
    margin-top: 66px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 22px;
    
  &--eco {
    margin-top: 48px;
    padding-top: 0px;
  }
  
  &--style {
    margin-top: 66px;
    padding-top: 0px;
  }
  
  &--like {
    margin-top: 68px;
    padding-top: 0px;
  }
    
  &--handmade {
   margin-top: 52px;
   padding-top: 0px;  
  }
  
  &--manufacturer {
    padding-top: 0px;
  }
    
  &--packing {
      margin-top: 60px;
      padding-top: 0px;
  }
 }
}

@media (min-width: 1150px) {
  .advantages__item {
      width: 345px;
      height: 95px;
      margin-top: 48px;
      margin-bottom: 13px;
      padding-left: 3px;
    
    &--like {
      margin-top: 51px;
   }
    
    &--handmade {
   margin-top: 51px;  
  }
    &--packing {
      margin-top: 45px;
  } 
  }
 }
  
.advantages__item--eco svg {
    padding-left: 10px;
    padding-bottom: 14px;
  }

.advantages__item--style svg {
  padding-left: 2px;
  padding-bottom: 22px;
}

.advantages__item--like svg {
  padding-left: 9px;
  padding-bottom: 17px;
}

.advantages__item--handmade svg {
  padding-left: 4px;
  padding-bottom: 13px;
}

.advantages__item--manufacturer svg {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .advantages__item--manufacturer svg {
  padding-bottom: 22px;
}
}

.advantages__item--packing svg {
  padding-left: 3px;
  padding-bottom: 17px;
}