.button {
  display: block;
  width: 258px;
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  font-family:$fontbold;
  text-aligh: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $white;
  border: 2px solid $dark-grey;
}