.catalog {
  padding: 0 30px 0 30px;
}

.catalog-item {
  margin-top: 30px;
  border: 1px solid #ececec;
}

.catalog-item__text-block {
  margin: 40px 30px 30px 30px;
  border-bottom: 1px solid #ececec;
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-family: $fontbold;
  color: $black;
}

.catalog-item__description {
  padding: 24px 0 30px 0;
}

.catalog-item__price-block {
  margin: 30px;  
}

.catalog-item__price {
  line-height: 24px;
  font-family: $fontbold;
  color: $black
}

.catalog-item__buy-btn {
  font-size: 0;
  border:0;
}

