.catalog {
  width: 260px;
  padding: 0 30px 0 30px;
}

@media (min-width: 768px) {
  .catalog {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 25px 50px 55px 50px;
  }
}

@media (min-width: 1152px) {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
    width: 1052px;
    margin: 0 auto;
    padding: 128px 52px 59px 52px;
  }
}

.catalog-item {
  width: 260px;
  margin-top: 30px;
  border: 1px solid #ececec;
}

@media (min-width: 768px) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-top: 30px;
  }
}

@media (min-width: 1152px) {
  .catalog-item {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 316px;
  }
}

.catalog-item__photo{
  background-color: #c1c1c1;
}

@media(min-width: 768px) {
  .catalog-item__photo {
    width: 333px;
    height: 333px;
  }
}

@media (min-width: 1152px) {
  .catalog-item__photo {
    width: 316px;
    height: 464px;   
  }
}

.catalog-item__text-block {
  margin: 40px 30px 30px 30px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .catalog-item__text-block {
    width: 273px;
    height: 230px;
    margin-bottom: 0;
  }
}

@media (min-width: 1152px) {
  .catalog-item__text-block {
    width: 316px;
    height: 124px;
    margin: 0;
  }
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 1152px) {
  .catalog-item__title {
   padding: 30px 30px 0 30px; 
  }
}

.catalog-item__description {
  padding: 24px 0 30px 0;
}

@media (min-width: 1152px) {
  .catalog-item__description {
    padding: 0 30px 0 30px;
  }
}

.catalog-item__price-block {
  margin: 30px;
}

@media (min-width: 768px) {
  .catalog-item__price-block {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 273px;
    height: 24px;
    margin: -42px 0 0 365px;
  }
}

@media (min-width: 1152px) {
  .catalog-item__price-block {
    width: 260px;
    padding: 30px 28px 30px 28px;
    margin: 0;
  }
}

.catalog-item__price {
  line-height: 24px;
  font-family: $fontbold;
  color: $black
}

@media (min-width: 768px) {
  .catalog-item__price { 
  }
}

.catalog-item__buy-btn {
  font-size: 0; 
}

@media (min-width: 768px) {
  .catalog-item__buy-btn {
    width: 24px;
    height: 24px;
  }
}