.catalog {
  width: 260px;
  padding: 0 30px 0 30px;
}

@media (min-width: 768px) {
  .catalog {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 50px 50px 32px 50px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
    width: 1052px;
    margin: 0 auto;
    padding: 122px 52px 59px 52px;
  }
}

.catalog-item {
  width: 260px;
  margin-top: 30px;
  border: 1px solid #ececec;
  
  &:hover, &:active {
  box-shadow:  0 5px 10px 2px $grey;
  }
}

@media (min-width: 768px) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin-top: 30px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1150px) {
  .catalog-item {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 316px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.catalog-item__photo{
  width: 260px;
  height: 196px;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-color: #c1c1c1;
}

@media(min-width: 768px) {
  .catalog-item__photo {
    width: 333px;
    height: 333px;
  }
}

@media (min-width: 1150px) {
  .catalog-item__photo {
    width: 315px;
    height: 463px;   
  }
}

.catalog-item__text-block {
  margin: 0 30px;
 /* width: 70px;*/
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .catalog-item__text-block {
    width: 273px;
    height: 232px;
    margin: 25px 28px 0 28px;;
  }
}

@media (min-width: 1150px) {
  .catalog-item__text-block {
    width: 266px;
    height: 122px;
    margin: 0 25px;
  }
}

.catalog-item__title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .catalog-item__title {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .catalog-item__title {
    margin: 0;
    padding-top: 24px;
    font-size: 20px;
  }
}

.catalog-item__description {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  font-size: 13px;  
}

@media (min-width: 768px) {
  .catalog-item__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .catalog-item__description {
    margin: 0;
    padding-top: 5px;

  }
}

.catalog-item__price-block {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin: 20px 20px 20px 30px;
}

@media (min-width: 768px) {
  .catalog-item__price-block {
    width: 273px;
    height: 24px;
    margin: -51px 0 0 365px;
  }
}

@media (min-width: 1150px) {
  .catalog-item__price-block {
    width: 260px;
    padding: 23px 27px 23px 26px;
    margin: 0;
  }
}

.catalog-item__price {
  line-height: 24px;
  font-family: $fontbold;
  color: $black
}

@media (min-width: 768px) {
  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .catalog-item__price {
    font-size: 17px;
  }
}

.catalog-item__buy-btn {
  width: 30px;
  height: 30px;
  font-size: 0; 
}

@media (min-width: 768px) {
  .catalog-item__buy-btn {
    width: 24px;
    height: 24px;
  }
}