.knitting-form {
  width: 260px;
  margin: 30px 30px 58px 30px;
}

@media (min-width: 768px) {
  .knitting-form {
    width: 768px;
    margin: 80px 0px 53px 0px;
  }
}

@media (min-width: 1152px) {
  .knitting-form {
    width: 1152px;
    margin: 135px 0px 53px 0px;
  }
}

.knitting-form__form {
  border: 0;
}

.form__title {
  margin-top: 34px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  color: $seacolor;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .form__title {
    width: 170px;
    margin: 0;
 }
}

@media (min-width: 1152px) {
  .form__title {
    width: 178px;
    margin: 0;
    text-align: center;
 }
}

.knitting-form__description {
}

@media (min-width: 768px) {
  .knitting-form__description {
    padding: 0 50px 0 50px;
  }
}

@media (min-width: 1152px) {
  .knitting-form__description {
    padding: 0 227px 0 227px;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .form__label {
    font-size: 19px;
    line-height: 18px;
  }
}

/*ТИП*/

.form__type {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form__type {
    flex-direction: row;
    width: 668px;
    padding: 48px 50px 48px 50px;
  }
}

.form__type-option-container {
}

@media (min-width: 768px) {
  .form__type-option-container {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .form__type-item {
    width: 500px;
    height: 51px;
  }  
}

/*ЦВЕТ*/

.form__color {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form__color {
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    background-color: #f1f1f1;
  }
}

@media (min-width: 768px) {
  .form__color-option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 205px;
  }
}

@media (min-width: 1152px) {
  .form__color-option-container {
    height: 131px;
  }
}

@media (min-width: 768px) {
  .form__color-item {
    width: 262px;
    height: 52px;
  }
}

/*ФИО*/

@media (min-width: 768px) {
  .form__customer-information {
    display: flex;
    padding: 66px 50px 52px 50px;
  }
}

@media (min-width: 768px) {
  .form__customer-information-container {
    width: 500px;
  }
}

@media (min-width: 1152px) {
  .form__customer-information-container {
    width: 703px;
  }
}

.form__customer-information input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  color: #d5d5d5;
  border: 0;
  border-bottom: 2px solid $black;
}

@media (min-width: 768px) {
  .form__customer-information input {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .form__customer-information .form__label {
    margin-right: 25px;
  }
}

.form__customer-name {
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .form__customer-name {
    display: flex;
  }
}

.form__customer-familyname {
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .form__customer-familyname {
    display: flex;
  }
}

.form__customer-middlename {
  font-size: 17px;
  line-height: 16px;
  font-family: $fontbold;
  color: $black;
}

@media (min-width: 768px) {
  .form__customer-middlename {
    display: flex;
  }
}

/*ТЕЛ*/

@media (min-width: 768px) {
  .form__customer-phone {
    display: flex;
    width: 668px;
    padding: 52px 50px 0 50px;
    background-color: #f1f1f1;
  }
}

@media (min-width: 768px) {
  .form__customer-phone {
    width: 1052px;
  }
}

.form__customer-phone input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  color: #d5d5d5;
  border: 0;
  border-bottom: 2px solid $black;
}

@media (min-width: 768px) {
  .form__customer-phone input {
    width: 502px;
    margin: 0;
    background-color: #f1f1f1;
  }
}

@media (min-width: 768px) {
  .form__customer-phone input {
    width: 703px;
  }
}

/*E-MAIL*/

@media (min-width: 768px) {
  .form__customer-email {
    display: flex;
    width: 668px;
    padding: 0 50px 50px 50px;
    background-color: #f1f1f1;
  }
}

@media (min-width: 1152px) {
  .form__customer-email {
    width: 1052px;
  }
}

.form__customer-email input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  color: #d5d5d5;
  border: 0;
  border-bottom: 2px solid $black;
}

@media (min-width: 768px) {
  .form__customer-email input {
    width: 502px;
    margin-bottom: 0;
    background-color: #f1f1f1;
 }
}

@media (min-width: 1152px) {
  .form__customer-email input {
    width: 703px;
 }
}

/*ДОП*/

@media (min-width: 768px) {
  .form__customer-add-information {
    display: flex;
    width: 668px;
    padding: 52px 50px 52px 50px;
  }
}

@media (min-width: 1152px) {
  .form__customer-add-information {
    width: 1052px;
  }
}

.form__add-information textarea {
  min-height: 137px;
  padding: 19px;
  font-size: 17px;
  line-height: 18px;
  color: #d5d5d5;
  border: 2px solid $dark-grey;
}

@media (min-width: 768px) {
  .form__add-information textarea {
    width: 499px;
    height: 142px;
    height: 138px;
  }
}

@media (min-width: 1152px) {
  .form__add-information textarea {
    width: 703px;
    height: 138px;
  }
}

/*НИЗ ФОРМЫ*/

@media (min-width: 768px) {
  .form-footer {
    display: flex;
    padding: 55px 50px 0 50px;
  }
}

@media (min-width: 1152px) {
  .form-footer {
    display: flex;
    padding-left: 228px;
  }
}

.form__button {
  margin-top: 34px;
}

@media (min-width: 768px) {
  .form__button {
    order: 1;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .form__notes {
    order: 2;
    padding-left: 138px;
  }
}