@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

$font: "Open Sans", "Tahoma", sans-serif;
$fontbold: "Open Sans Bold", "Tahoma", sans-serif;
$white: #ffffff;
$black: #000000;
$dark-grey: #444444;
$grey: #d3d2d2;
$seacolor: #63d1bb;
$dark-seacolor: #56c3b2;


body {
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: $font;
  color: $dark-grey;
  background-color: $white;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

fieldset {
  padding: 0;
  border: 0;
}

textarea {
  padding: 0;
}
