.main-nav {
}

.site-list__item {
  padding: 30px 33px;
  font-size: 17px;
  line-height: 24px;
  font-family: $fontbold;
  text-align: center;
  color: $black;
  border-top: 1px solid $grey;
}

.site-list__link {
  text-decoration: none;
}

.search__link {
  text-decoration: none;
}

.basket__link {
  text-decoration: none;
}