.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 78px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px){
  .page-header {
    flex-direction: row;
    width: 700px;
    height: 89px;
    padding: 0 34px 0 34px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: 1150px){
  .page-header {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }
}

.page-header__logo {
  position: relative;
  top: 22px;
  left: 117px;
  display: block;
  height: 78px;
}

@media (min-width: 768px){
  .page-header__logo {
    position: relative;
    top: 22px;
    left: 14px; 
    width: 115px;
    height: 47px;
    padding: 0;
    
    background-color: gray;
  }
}

@media (min-width: 1150px){
  .page-header__logo {
    position: relative;
    top: 5px;
    left: 451px; 
    width: 154px;
    height: 76px;
    padding: 0;
    
    background-color: gray;
  }
}


